<div class="container" ng-controller="requestsCtrl">
  <div class="row">
      <div class="col-sm-12">
        <p style=" margin-top: 3%; font-size: 2.5vmin; color: #B2B2B2; width: 100%; border: 1px; border-color: black; opacity: 0.9;">Clique em iniciar para enviar os Arquivos de audio e gerar os Midi-Melodies.</p>
      </div>
  </div>
  <div class="row">
    <div style="margin-top: 5%; margin-left: 40%">
      <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-3" style="padding-top: 10px;">
        <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
        <div style="margin-top: 15%; margin-left: -20%;">
          <button class="btn btn-lg" style="width: 150px; color: white; background-color: #1CBBB4;" ng-click="initAdScript()">Iniciar<br></button>
          <button class="btn btn-lg" style="width: 150px; color: white; background-color: #1CBBB4;" ng-click="testPage()">Pagina Teste<br></button>
        </div>
      </div>
    </div>
  </div>
</div>
