<div class="container" ng-controller="requestsCtrl">
  <div class="row">
    <div class="col-sm-12">
      <div class="headerSteps" style=" margin-top: 3%;">
        <p style="font-size: 2.5vmin; color: #1CBBB4; width: 100%; border: 1px; border-color: black; opacity: 0.9;">Passo: {{actualStep}}</p>
      </div>
        <br>
        <p style="font-size: 2.5vmin; color: #B2B2B2; width: 100%; border: 1px; border-color: black; opacity: 0.9;">Tocar arquivo: {{fileName}}</p>
      </div>
  </div>
  <div class="row">
    <audio controls>
      <source src="{{stream_route}}" type="audio/mp3">
    </audio>
  </div>
</div>